
   .wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }
  .content {
    flex: 1 0 auto;
  }
  .footer {
    flex: 0 0 auto;
    background-image: url('../../pngfuel.com_3.png') ;   
    width: 100%; 
    
  }