.register-form {
    max-width:500px;
      /* display:block;
    margin: auto;   */
    margin-top: 20px;
    font-family: "Candara"; 
    text-align: "cener" ;
     font-style: italic; 
  } 
.tmp{
  display: flex;

  justify-content: center;
}
  .register-form-btn{
      float: left;
  }