.imgUpload{
    height: 200px;
    width: 200px;
    cursor: pointer;
}
.tmp{
    display: flex;
  
    justify-content: center;
  }
  p.textr{
   font-family:'Candara' ;
   font-style: italic;
   font-weight: 500;
  color: rgb(227, 241, 217);
  }
  
  .QrCanvas
  {
      display: inline;
    
  }

  /* @media (max-width: 300px)
  {
    .QrCanvas{
        display:inline;
       
    }
  } */