.imgUpload{
    height: 200px;
    width: 200px;
    cursor: pointer;
}
.tmp{
    display: flex;
  
    justify-content: center;
  }
  p.textr{
   font-family:'Candara' ;
   font-style: italic;
   font-weight: 500;
  color: rgb(227, 241, 217);
  }
  .ptext{
    margin-top: '10px';
    font-family: "Bradley Hand", cursive;
    color:rgb(49, 112, 83);
    font-size: 17px ;
  }
  .moreHeader{
    text-align: center;
    /* font-style: italic;  */
    font-family: 'Candara';
    font-size: 50px;
    color:rgb(49, 112, 83);
    text-shadow: 0 0 2px white; /* horizontal-offset vertical-offset 'blur' colour */
    -moz-text-shadow: 0 0 2px white;
    -webkit-text-shadow: 0 0 2px white;
    text-align: center;
  }
  .QrCanvas
  {
      display: inline;
    
  }

  @media (max-width: 960px) {
  .moreHeader{
    font-size: 35px;
  }
   
  }
  @media (max-width: 576px) {
    .moreHeader{
        font-size: 30px;
      }
      .ptext{
        font-size: 15px ;
      }
   
  }
  /* @media (max-width: 300px)
  {
    .QrCanvas{
        display:inline;
       
    }
  } */