.header{
    font-family: 'Candara';
    font-style: italic; 
    font-size: 80px;
    color:rgb(152, 197,178);
    text-shadow: 0 0 2px #000; /* horizontal-offset vertical-offset 'blur' colour */
    -moz-text-shadow: 0 0 2px #000;
    -webkit-text-shadow: 0 0 2px #000;
    text-align: center;
  
  
  }
  @media (max-width: 960px) {
    .header{
      font-size: 70px;
    }
     
    }
    @media (max-width: 768px) {
        .header{
          font-size: 60px;
        }
         
        }
    @media (max-width: 576px) {
        .header{
            font-size: 40px;
          }
     
    }