 body{
    background-image: url('injection-plasturgie-medical-FPSA.jpg') ;
    background-size:cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
  } 
  
.login-form {
  
  margin-top: 50px;
}
.tmp{
  display: flex;
  justify-content: center;
}
.header{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
   font-size: 80px;
  color: rgb(151, 201, 218);

}
.login-form-forgot {
  float: left;
  color: white;
  font-size: 20px;
  } 
@media (max-width: 768px) {
  .header{
    font-size: 60px;
  }
@media (max-width: 566px) {
  .header{
    font-size: 45px;
  }
 
} 
@media (max-width: 600px) {
  .login-form-forgot{
    font-size: 16px;
  }
}
 
} 
 

.login-form-button {
 
  width:100%;
}
.register-form-button {
   
    width:100%;
  }
  
  
