 body{
   align-items: bottom;
   background-image: url('../pngfuel.com_3.png') ;  
 background-color: rgb(213, 245, 227); 
 /* background-image: "C:\Users\Owner\Source\Repos\olexiychebotkevich\MedicalAssistant\MedicalAssistant\MedicalAssistant\ClientApp\src\components\pnkkgfuel.com1.png";  */
 
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 55vh;
    position: absolute;
    background-repeat: no-repeat; 
    font-family: 'Comic Sans MS, Comic Sans, cursive';
 
  }
  
.login-form {
  
  margin-top: 50px;
  font-family: 'Candara';
}
.tmp{
  display: flex;

  justify-content: center;
}
.moreHeader{
  text-align: center;
}
.header{
  font-family: 'Candara';
  font-size: 60px;
  color:rgb(152, 197,178);
  text-shadow: 0 0 2px #000; /* horizontal-offset vertical-offset 'blur' colour */
  -moz-text-shadow: 0 0 2px #000;
  -webkit-text-shadow: 0 0 2px #000;


}
h1.homeHeader{
  /* font-family: "Comic Sans MS, Comic Sans, cursive";  */
  font-family: "Candara"; 
  font-weight:100;
  text-align: "center" ;
  color:#3A7073;
  text-shadow: 0 0 1px rgb(27, 27, 27); /* horizontal-offset vertical-offset 'blur' colour */
  -moz-text-shadow: 0 0 1px rgb(27, 27, 27);
  -webkit-text-shadow: 0 0 1px rgb(27, 27, 27);
  
  
}
h1.homeHeaderG{
  /* font-family: "Comic Sans MS, Comic Sans, cursive";  */
  font-family: "Candara"; 
  font-weight:bolder;
  text-align: "left" ;
  color:#3A7073;
  text-shadow: 0 0 1px rgb(27, 27, 27); /* horizontal-offset vertical-offset 'blur' colour */
  -moz-text-shadow: 0 0 1px rgb(27, 27, 27);
  -webkit-text-shadow: 0 0 1px rgb(27, 27, 27);
  
  
}


.homeHeader1{
  font-family: "Garamond"; 
  text-align: center ;
  color:rgb(27, 27, 27);
  text-shadow: 0 0 2px #3A7073; /* horizontal-offset vertical-offset 'blur' colour */
  -moz-text-shadow: 0 0 2px #3A7073;
  -webkit-text-shadow: 0 0 2px #3A7073;

 
}



.login-form-forgot {
  float: left;
  color: rgb(49, 112, 83);
  } 
  .pass{
    color:rgb(49, 112, 83);
    font-size: 20px;
    text-shadow: 0 0 3px #3A7073; /* horizontal-offset vertical-offset 'blur' colour */
    -moz-text-shadow: 0 0 3px #3A7073;
    -webkit-text-shadow: 0 0 3px #3A7073;
  }
@media (max-width: 768px) {
  .header{
    font-size: 60px;
  }
@media (max-width: 566px) {
  .header{
    font-size: 45px;
  }
 
} 
@media (max-width: 600px) {
  .login-form-forgot{
    font-size: 16px;
  }
}
 
} 
 

.login-form-button {
  font-family: 'Candara';
  background-color: whitesmoke;
  width:100%;
}
.register-form-button {
  font-family: 'Candara';
  background-color: whitesmoke;
    width:100%;
  }


  .steps{
    font-size: 30px;
    font-family: 'Comic Sans MS, Comic Sans, cursive';
  }
  
