 /* body{
    background: url('Five-Ways-5G-will-Supercharge-_Inline2.jpg') ;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: top center;
  }  */

  html, body{
    height: 100%;
  }
  body { 
        background-image: url('Five-Ways-5G-will-Supercharge-_Inline2.jpg') ;
        background-position: center center;
        background-repeat:  no-repeat;
        background-attachment: fixed;
        background-size:  cover;
        background-color: #999;
    
  }
.login-form {
  max-width: 300px;
    /* display:block;
  margin: auto;  */
  margin-top: 50px;
}
.header{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   /* text-align: center;  */
  font-size: 80px;
  color: whitesmoke;
  /* box-sizing: border-box;
  width: 100%; 
  height:45%; */




}
 .login-form-forgot {
float: left;
color: white;
font-size: 20px;
} 
.login-form-button {
 
  width:100%;
}
.register-form-button {
   
    width:100%;
  }
  
  
