a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
/* background-color: rgba(152,197,178); */
  
}

html {
  font-size: 40px;
   /* background-color: rgba(152,197,178) */
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
    
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}




