.divv{
    background-color: transparent;
}
.cards{
    background-color: rgb(157,181,167); 
    font-family: 'Candara';
     font-style: Italic;
     margin-top: "10px";
      margin-bottom: "10px";
}
.pstyle{
   color: rgb(221, 252, 200);
    font-family: 'Candara';
}